<div class="user-list-card">
  <div>
    Name: {{selectedUser.name}} {{selectedUser.sur_name}}
  </div>
  <div [appUserAge]="selectedUser.age">
    <!-- Age: 15 - teenAger picture -->
    <!-- Age: 25 - youth picture -->
    <!-- Age: 45 - middle Dev picture -->
    <!-- Use directive! -->
  </div>
  <div>
    Position: {{selectedUser.position | position}}
    <!-- Position: {{selectedUser.position | pipePosition}} -->
    <!-- make position CUPS LOCK by pipe -->
  </div>
  <div>
    <img class="avatar-img" [src]="selectedUser.img_url" alt="alt">
  </div>
</div>
