<h1>Add new User!</h1>

<form [formGroup]="checkoutForm">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="sur_name">
      Sur Name
    </label>
    <input id="sur_name" type="text" formControlName="sur_name">
  </div>

  <div>
    <label for="age">
      Age
    </label>
    <input id="age" type="number" formControlName="age">
  </div>

  <div>
    <label for="position">
      Position
    </label>
    <input id="position" type="text" formControlName="position">
  </div>

  <div>
    <label for="img_url">
      Image Url
    </label>
    <input id="img_url" type="text" formControlName="img_url">
  </div>

  <button class="button" (click)="sendUserData(checkoutForm.value, $event)" type="button">Add New User</button>
</form>
